{% load static %}

<!-- start contact us -->
<section id="contact" class="py-5">
    <div class="container" style="background-color: lightgray; padding: 20px;">
        <div class="contact">
            <div class="row d-flex justify-content-between">
                <div class="col-md-4">
                    <div>
                        <h3 class="underline-heading pb-2 mb-4">About Us</h3>
                    </div>
                    <div class="about-us">
                        <p>
                            PRRAVISH International specializes in import and export services, committed to
                            delivering
                            top-quality products globally. With a focus on reliability and customer satisfaction, we
                            ensure seamless trade operations and uphold stringent quality standards.
                        </p>
                        <div class="social-icons">
                            <a href="https://www.linkedin.com/DhartiMiroliya"
                                class="text-decoration-none me-3 social-accounts" target="_blank">
                                <img src="{% static '/images/social-media/linkedin.png' %}" alt="LinkedIn">
                            </a>
                            <a href="https://www.instagram.com/_prravish_international"
                                class="text-decoration-none me-3 social-accounts" target="_blank">
                                <img src="{% static '/images/social-media/instagram.png' %}"
                                    alt="Instagram_Prravish_International">
                            </a>
                            <a href="https://www.facebook.com/prravishinternational"
                                class="text-decoration-none me-3 social-accounts" target="_blank">
                                <img src="{% static '/images/social-media/facebook1rbg.png' %}"
                                    alt="FacebookPrravishInternational">
                            </a>
                            <a href="https://wa.me/918140416970" class="text-decoration-none me-3 social-accounts"
                                target="_blank">
                                <img src="{% static '/images/social-media/WhatsApp.png' %}"
                                    alt="whatapp+918140416970">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="text-center">
                        <h3 class="underline-heading pb-2 mb-4">Contact</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="contact-details">
                                <div class="contact-item">
                                    <h5 class="font-weight-bold"><b>India</b></h5>
                                </div>
                                <div class="contact-item">
                                    <h6 class="font-weight-bold text-dark">
                                        <i class="bi bi-geo-alt-fill"></i>
                                        UG/112 happy gold mine shopper, Vesu, Surat, Gujarat 394518
                                    </h6>
                                </div>
                                <div class="contact-item">
                                    <h6 class="font-weight-bold">
                                        <i class="bi bi-envelope-fill"></i>&nbsp;
                                        <a href="mailto:info@prravishinternational.com" class="text-dark"
                                            target="_blank">info@prravishinternational.com</a>
                                    </h6>
                                </div>
                                <div class="contact-item">
                                    <h6 class="font-weight-bold">
                                        <i class="bi bi-telephone-fill"></i>&nbsp;
                                        <a href="tel:+918140416970" class="text-dark" target="_blank">8140416970</a>
                                    </h6>
                                </div>
                                <div class="contact-item">
                                    <iframe
                                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3719.184903567826!2d72.7604613!3d21.1442394!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be0527f30051741%3A0x833c8f80320acf47!2sUG%2F112%20Happy%20Gold%20Mine%20Shopper%2C%20Udhana%20Magdalla%20Road%20BRTS%2C%20Vesu%2C%20Surat%2C%20Gujarat%20394518%2C%20India!5e0!3m2!1sen!2sus!4v1621251941284!5m2!1sen!2sus"
                                        width="100%" height="100" style="border:0;" allowfullscreen=""
                                        loading="lazy">
                                    </iframe>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="contact-item">
                                <h5 class="font-weight-bold"><b>United States of America</b></h5>
                            </div>
                            <div class="contact-details">
                                <div class="contact-item">
                                    <h6 class="font-weight-bold text-dark">
                                        <i class="bi bi-geo-alt-fill"></i>&nbsp;30 N Gould St Ste R Sheridan,
                                        WY 82801, USA
                                    </h6>
                                </div>
                                <div class="contact-item">
                                    <h6 class="font-weight-bold">
                                        <i class="bi bi-envelope-fill"></i>&nbsp;
                                        <a href="mailto:info@prravishinternational.com" class="text-dark"
                                            target="_blank">info@prravishinternational.com</a>
                                    </h6>
                                </div>
                                <div class="contact-item">
                                    <h6 class="font-weight-bold">
                                        <i class="bi bi-telephone-fill"></i>&nbsp;
                                        <a href="tel:+918140416970" class="text-dark" target="_blank">8140416970</a>
                                    </h6>
                                </div>
                                <div class="contact-item">
                                    <div class="contact-item">
                                        <iframe
                                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2831.1677048312013!2d-106.95752532376211!3d44.79777077107092!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5335fabc2a655555%3A0x3265c73ab4e065e!2s30%20N%20Gould%20St%20STE%20ST%20R%2C%20Sheridan%2C%20WY%2082801%2C%20USA!5e0!3m2!1sen!2sin!4v1719949707018!5m2!1sen!2sin"
                                            width="100%" height="100" style="border:0;" allowfullscreen=""
                                            loading="lazy"></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="telephone mt-auto call-us-now">
                            <h6 class="font-weight-bold"><i class="bi bi-phone-vibrate-fill"></i>&nbsp;
                                <b>Call us Now</b>
                            </h6>
                            <h4 class="font-weight-bold">
                                <a href="tel:+918140416970" class="custom-link-color"
                                    target="_blank">+918140416970</a>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end contact us -->

<!-- start footer -->
<footer class="bg-dark footer">
    <div class="footer-left">Copyrights @ 2024 PRRAVISH INTERNATIONAL. All rights Reserved.</div>
    <div class="footer-right">Powered By Prravish InfoTech</div>
</footer>
<!-- end footer -->


<!-- Scroll to Top Button -->
<a href="#home" class="scroll-to-top">
    <i class="bi-chevron-up"></i>
</a>

<!-- WhatsApp FAB -->
<a href="https://wa.me/918140416970" class="whatsapp-fab" target="_blank">
    <img src="{% static '/images/social-media/WhatsApp.png' %}" alt="whatapp+918140416970">
</a>


<!-- Bootstrap JS and dependencies -->

<script type="text/javascript">
    function googleTranslateElementInit() {
        new google.translate.TranslateElement({
            pageLanguage: 'en',
            layout: google.translate.TranslateElement.InlineLayout.SIMPLE
        }, 'google_translate_element');
    }
</script>
<script type="text/javascript"
    src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

<!-- Custom JavaScript to handle spinner -->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Hide spinner and show content
        var spinner = document.getElementById("spinner");
        var content = document.getElementById("content");

        // Add a delay before hiding the spinner to allow the fade-out transition to complete
        setTimeout(function () {
            spinner.classList.add("hidden");
            content.style.display = "block";
        }, 2000); // 2000ms delay to match the animation duration
    });
</script>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>

<script src="{% static '/scripts.js' %}"></script>
</body>

</html>




